body {
    padding-bottom: 40px;
}

.hero-unit {
    overflow: hidden;
    padding: 0 20px;
}

.hero-unit h1 {
    font-size: 30px;
    clear: right;
}

.hero-unit p {
    margin-left: 10px;
}

.header-pages {
    font-size: 15px;
}

.hero-unit .twitter {
    color: #333;
}

.header-contact,
.header-subscribe {
    display: none;
}

.event {
    margin-bottom: 30px;
}

.event .date {
    font-size: 30px;
    font-weight: bold;
}

.event .date .day {
    color: #e33;
}

.event .date .year {
    color: #999;
}

.event.past h2,
.event.past a,
.event.past .date .day {
    color: #999;
}

.event p {
    font-size: 16px;
    word-wrap: break-word;
}

footer {
    color: #888;
}

@media (min-width: 768px) {
    .event .date {
        padding-top: 21px;
        text-align: right;
    }

    .hero-unit {
        padding: 0 20px;
    }

    .hero-unit h1 {
        font-size: 60px;
    }

    .hero-unit p {
        margin: 10px 15px;
    }

    .header-pages {
        font-size: 18px;
    }

    .header-contact,
    .header-subscribe {
        display: block;
    }
}
