@media (min-width: 768px) {
    .event .date {
        padding-top: 7px;
        text-align: right;
    }
}

body {
    padding-bottom: 40px;
}

.event {
    margin-bottom: 30px;
}

.event .date {
    font-size: 30px;
    font-weight: bold;
}

.event .date .day {
    color: #e33;
}

.event .date .year {
    color: #999;
}

.event p {
    font-size: 16px;
    word-wrap: break-word;
}
