{% extends "layout.html" %}

{% block content %}

  {% include "hero.html" %}

  <div class="row">
    <div class="span10 offset1">

      <h2>Comunități locale</h2>

      <ul>

        <li>
          <a href="http://rosedu.org/">ROSEdu</a>
          - Romanian Open Source Education
        </li>

        <li>
          <a href="http://wurbe.ro/">wurbe</a>
          - grupul dezvoltatorilor web din bucurești
        </li>

        <li>
          <a href="http://www.bjug.ro/">JUG București</a>
          - Bucharest Java User Group
        </li>

        <li>
          <a href="http://agileworks.ro/">AgileWorks</a>
          - Agile software development processes
        </li>

        <li>
          <a href="http://groups.google.com/group/python-romania"
             >python-romania</a> - lista de discuții python-romania
        </li>

        <li>
          <a href="http://groups.google.com/group/django-romania"
             >django-romania</a> - lista de discuții django-romania
        </li>

        <li>
          <a href="http://www.macuser.ro/">Macuser</a>
          - Site-ul utilizatorilor Macintosh, iPod, iPad și iPhone din România
        </li>

        <li>
          <a href="http://it-events.ro/">it-events.ro</a>
          - Evenimentele IT în România
        </li>

      </ul>

    </div>
  </div>

{% endblock %}
