<!doctype html>
<html>
{%- from 'common.html' import link_css, script_src, google_analytics %}
{%- set site_title = "Lista hackerului social" %}
<head>
  <meta charset="utf-8">
  <title>{{ site_title }}</title>
  {{ link_css('css/bootstrap.min.css') }}
  {{ link_css('css/bootstrap-responsive.min.css') }}
  {{ link_css('css/lista.css') }}
  <link rel="alternate"
        title="Lista hackerului social"
        type="application/atom+xml"
        href="{{ url_for('recent_atom') }}">
</head>

<body>

{{ script_src('js/modernizr-2.0.6.min.js') }}
{{ script_src('js/jquery-1.7.2.min.js') }}
<script>
var App = {};
App.set_date_color = function(dom_id) {
    var today = (new Date()).toISOString().substr(0, 10);
    var article = $('#' + dom_id);
    var time = article.find('time');
    if(time.attr('datetime') < today) {
        article.addClass('past');
    }
};
</script>

<div class="container">

  <div class="hero-unit">
    <h1>{{ site_title }}</h1>
  </div>

  <div class="row">
    {% for event in events %}
    {% set dom_id = "event-" + event['id'] %}
    <article class="event span12" id="{{ dom_id }}">

      <div class="row">

        <div class="date span4">
          <time datetime="{{ event['date'].strftime('%Y-%m-%d') }}">
            <span class="day">{{ event['date'].strftime('%d %b') }}</span>
            <span class="year">{{ event['date'].strftime('%Y') }}</span>
            {#- no whitespace here -#}
          </time>
        </div>

        <div class="span8">

          <h2>
            <span class="title">{{ event['title'] }}</span>
          </h2>

          <p>
            <a href={{ event['url'] }}>{{ event['url'] }}</a>
          </p>

        </div>

      </div>

    </article>
    <script>App.set_date_color({{ dom_id|tojson|safe }});</script>
    {% endfor %}
  </div>

  <hr>

  <footer>
    <p class="pull-right">
      <a href="{{ config['FEEDBURNER_MAIL_URL'] }}">Notificări prin e-mail</a>
    </p>
  </footer>

</div>

{{ google_analytics(config['GOOGLE_ANALYTICS_CODE']) }}

</body>
</html>
