{% extends "layout.html" %}

{% block content %}

  <script>
  var App = {};
  App.set_date_color = function(dom_id) {
      var today = (new Date()).toISOString().substr(0, 10);
      var article = $('#' + dom_id);
      var time = article.find('time');
      if(time.attr('datetime') < today) {
          article.addClass('past');
      }
  };
  </script>

  {% include "hero.html" %}

  <div class="row">
    {% for event in events %}
    {% set dom_id = "event-" + event['id'] %}
    <article class="event span12" id="{{ dom_id }}">

      <div class="row">

        <div class="date span4">
          <time datetime="{{ event['date'].strftime('%Y-%m-%d') }}">
            <span class="day">{{ event['date'].strftime('%d %b') }}</span>
            <span class="year">{{ event['date'].strftime('%Y') }}</span>
            {#- no whitespace here -#}
          </time>
        </div>

        <div class="span8">

          <h2>
            <span class="title">{{ event['title'] }}</span>
          </h2>

          <p>
            <a href={{ event['url'] }}>{{ event['url'] }}</a>
          </p>

        </div>

      </div>

    </article>
    <script>App.set_date_color({{ dom_id|tojson|safe }});</script>
    {% endfor %}
  </div>

{% endblock %}
